@import url('https://fonts.googleapis.com/css2?family=Sniglet:wght@800&display=swap');

@font-face {
  font-family: "MilkyWalky";
  src: local("MilkyWalky"), url("../src/fonts/milky-walky-ligature-sans-serif/MilkyWalky-Regular.woff") format("woff2");
  font-weight: normal;
}

@font-face {
  font-family: "Branch";
  src: local("Branch"), url("../src/fonts/Branch - Elegant Ligature Font/Branch.ttf") format("ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Bromawo";
  src: local("alternates SS02"), url("../src/fonts/bromawo-elegant-typeface/Bromawo.pdf") format("pdf");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  font-family: Montserrat, sans-serif;
  color: #9f7e69;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 5px;
}

.main-title {
  font-family: Merriweather, sans-serif;
  float:right;
  letter-spacing: -10px;
  color: black;
  font-size: 12vw;
  height: 168px;
  opacity: 0.5;
  width: 100%;
  text-align: right;
  z-index: 130;
  position: relative;
  text-decoration: none;
  transition: transform 6s ease-in-out, color 6s ease-in-out, font-size 6s ease-in-out, -webkit-transform 6s ease-in-out;
  background-color: transparent; 
}

.main-title:hover {
  transform: scale(1.1);
  color: #9f7e69;
  font-size: 20vw;
  letter-spacing: 20px;
  -webkit-transform: scale(1.1);
  -webkit-transition: transform 3s ease-in-out, color 3s ease-in-out,letter-spacing 6s, font-size 6s ease-in-out, -webkit-transform 6s ease-in-out;
  transition: transform 3s ease-in-out, color 3s ease-in-out,letter-spacing 6s, font-size 6s ease-in-out, -webkit-transform 6s ease-in-out;
}

.main-title:active {
  -ms-transform: skewY(20deg);
  transform: skewY(20deg);
}

.main-title .permahover {
  display: block;
}

.main-title::before {
  content: "Click me";
  background: transparent;
  color: #1f1f1f;
  position: absolute;
  height: 50%;
  font-size: 4vw; 
}

.box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.flex-box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.title {
  font-size: 2.5rem;
  color: #9f7e69;
  text-decoration: none;
  list-style: none;
  text-align: center;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  width: 500px;
  background-color: white;
}

.modal-header, .modal-footer {
  padding: 10px; 
  background-color: rgb(249, 247, 241);
}

.modal-title {
  margin: 0;
}

.modal-body {
  padding: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  background-color: rgb(249, 247, 241);
}

.container {
  position: relative;
  z-index: 500;
  margin-left: 0px;
}

.nav-left-line {
  width: 1px;
  height: 200px;
  margin-bottom: 60px;
  background-color: #1a1919;
}

.nav-left {
  background-color: transparent;
  position: fixed;
  z-index: 600;
  display: flex;
  height: 100vh;
  padding-top: 5%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: start;
  justify-content: flex-start;
  align-items: center;
  left: 0;
  top: 0%;
  right: auto;
  bottom: 0%;
  float:left;
  background-color: rgb(249, 247, 241);
  background: transparent;
}

.nav-left-item{
  background-color: transparent;
  margin-bottom: 100px;
  padding-right: 0px;
  padding-left: 15px;
  -webkit-box-flex: 0;
  flex: 0 auto;
  transform: rotate(-90deg);
}

.nav-left-link  {
  background-color: transparent;
  display: block;
  border: 0px solid #000;
  -webkit-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
  font-family: Montserrat, sans-serif;
  color: #1a1919;
  font-size: 10px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 5px;
  text-decoration: none;
  text-transform: uppercase; 
  margin-left: 10px; 
}

.left-btn, .contact-btn {
  background-color: #000;
  border: none;
  color: white;
  text-align: center;
  padding: 10px 30px;
}

.nav-menu-modal {
  width: 100%;
  transform-origin: 50% 0%;
  transform: translate(0px, 50px) scale(0.92, 0.92);
  
}

.nav-menu-item {
    position: static;
    width: 100%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 0px;
    flex-direction: row;
    padding-right: 100px;
}

.nav-menu-btn  {
  font-family: Montserrat, sans-serif;
  color: #1a1919;
  font-size: 10px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 5px;
  text-decoration: none;
  text-transform: uppercase;  
  margin-left: 10%;
  float: right; 
}

.nav-menu-btn:hover, .footer-link:hover {
  opacity: 0.5;
  color: #adc178;
}

@media screen and (max-width: 768px) {
  .nav-menu-container {
    background-color: transparent;
    position: fixed;
    z-index: 600;
    display: flex;
    height: 100vh;
    margin-top: 15%;
    padding-bottom: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: start;
    justify-content: flex-start;
    align-items: center;
    left: 0;
    top: 0%;
    right: auto;
    bottom: 0%;
    float:left;
  }
}
  
@media screen and (max-width: 768px) {
  .nav-menu-item {
  background-color: transparent;
  margin-bottom: 100px;
  padding-right: 0px;
  margin-top: 100px;
  -webkit-box-flex: 0;
  flex: 0 auto;
  transform: rotate(-90deg);
  }
}
  
@media screen and (max-width: 768px) {
  .nav-menu-btn {
  background-color: transparent;
  border: 0px solid #000;
  font-family: Montserrat, sans-serif;
  color: #1a1919;
  font-size: 10px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 5px;
  text-decoration: none;
  text-transform: uppercase; 
  margin-left: 10px;
  animation-duration: 5s;
  animation-name: slideInFromTop;   
  }
}

.nav-left-link:hover {
  opacity: 0.5;
  color: #adc178;
}

@media screen and (max-width: 768px) {
  .nav-left {
    position: static;
    width: 100%;
    height: auto;
    padding-top: 0px;
    padding-bottom: 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    margin-top: 90vmax;
    position: fixed;
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .nav-left-item {
    margin-bottom: 0px;
    padding-right: 15px;
    padding-left: 0px;
    -webkit-box-flex: 0;
    flex: 0 auto;
    transform: rotate(0deg);
  }
}

@media screen and (max-width: 768px) {
  .nav-left-line {
    width: 100px;
    height: 1px;
    margin-top: 0px;
    margin-bottom:0px;
  }
}

@media screen and (max-width: 479px) {
  .nav-left{
    margin-left: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    padding-right: 0px;
    -webkit-box-flex: 0;
    flex: 0 auto;
    transform: rotate(0deg);
    margin-top: 90vmax;
    position: fixed;
  }

  .nav-left-link{
    font-size: 10px;
    padding: 10px;
  }
}

.nav-right {
  margin-top: 100px;
  margin-right: 10px;
  position: relative;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;
  float:top;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 16px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px; 
}

.nav-link-right, .contact-link{ 
  position: relative;
  z-index: 100;
  display: block;
  border: 0px solid #000;
  line-height: 0.95em;
  font-weight: 300;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 6vw;
  color: #9f7e69;
  text-decoration: none;
  list-style: none;  
  transform: translate3d(0px, 0px, 0px); 
  font-family: Montserrat, sans-serif;
  letter-spacing: 5px;
}

.nav-link-right:hover, .contact-link:hover {
  color: black;
  text-decoration: none;
  -ms-transform: skewX(-20deg);
  transform: skewX(-20deg); 
}

.nav-link-right:active {
  color: black;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .nav-right {
    position: static;
    width: 100%;
    height: auto;
    padding-top: 0px;
    padding-bottom: 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
  }
}

@media screen and (max-width: 479px) {
  .nav-right, .nav-link-right{
    position: static;
    width: 100%;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: column;
    margin-left: 10px;
    font-size: 50px; 
  }
}

/*
.portfolio {
  overflow: hidden;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 5px;
  background-color: #000;
  color: #FFEEE2;
  font-size: 40px;
  text-align: center;
  text-decoration: none;
}

.portfolio-link {
  color: #FFEEE2;
  font-size: 20px;
  text-decoration: none;
  background-color: black;
  display: block;
  animation-name: fadeIn;
  animation-duration: 3s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.portfolio-link:hover {
  color: #FFEEE2;
  text-decoration: none;
  animation-name: hover;
  animation-duration: 3s;
  
}

@keyframes hover {
  from {
    color: #FFEEE2;
  }
  to {
    color: #9F7E69;
  }
}
*/

.about-container, .about-subtitle, .about-text, .about-content, .about-title {
  background: transparent;  
}

.about-content {
  line-height: 1.9em;
  font-weight: 400;
  padding: 120px;
  text-align: left; 
  margin-left: 30px; 
}

.about-text {
  font-size: 12px;
  font-family: Merriweather, sans-serif;
  text-transform: initial;
  letter-spacing: 3px;
  font-weight: 500;
  color: black; 
}

.about-title {
  font-size: 50px;  
}

.profile-pic {
  width: 300px;
  height: auto;
  border-radius: 100%;
  margin-left: auto;
  margin-top: 0px;
  margin-bottom: 50px;
  float: right; 
  transition: width 2s, height 2s, transform 2s;
}

.profile-pic:hover {
  width: 400px;
  height: auto;
  transform: scale(1.0);
}

@media screen and (max-width: 767px) {
  .about-content {
    padding: 20px;
  }
}

.gallery {
  background-color: black;
  background-color: transparent; 
}

.gallery-content {
  background-color: transparent;
  margin-left: 30px;
  margin-right: 30px;
  text-align: left;
  margin-top: 200px;
}

.gallery-text {
  background-color: transparent;
  font-size: 2vw;
  font-family: Merriweather, sans-serif;
  text-transform: lowercase;
  letter-spacing: 3px;
  font-weight: 500;
  text-align: center;
  margin-right: 20vw;
  margin-left: 20vw;
}

.gallery-link {
  display:block;
  justify-content: center;
  background-color: transparent;
  text-decoration: none;
  font-size: 2vw;
  text-align: center;
  color: #9F7E69; 
  margin-right: 0;
  margin-left: 0;
}

.gallery-link:hover {
  color: white;
  -ms-transform: skewX(-20deg);
  transform: skewX(-20deg);
  text-decoration: line-through;
}

.gallery-title {
  text-align: center;
}

@media screen and (max-width: 767px) {
  .gallery-text {
    font-size: 3vw;
  }
}
  
.nav-link-right {
  animation-duration: 5s;
  animation-name: slideInFromBottom;
}

@keyframes slideIn {
  from { margin-right: 100%;  opacity: 1; }
  to { margin-left: 0%; opacity: 1; }
}

@keyframes slideFromLeft {
  from { margin-left: 100%;  opacity: 1; }
  to { margin-left: 0%; opacity: 1; }
}

@keyframes slideInFromBottom {
from { margin-bottom: 100%;  opacity: 0; }
to { margin-top: 0%; opacity: 1; }
}

@keyframes slideInFromTop {
  from { margin-bottom: 100%;  opacity: 0; }
  to { margin-top: 30%; opacity: 1; }
  }

@keyframes slideFromRight {
  from { margin-right: 0%;  opacity: 1; }
  to { margin-right: 70%; opacity: 1; }
}

.resume-preview {
  position: relative;
  display: block;
  
 
  width: 50%;
  margin-top: 20px;
}

.resume-preview:hover {
  transform: scale(1.5);
  transition: 3s;
}

.resume-link {
  font-size: 2vw; 
  text-decoration: none;
  font-family: Montserrat, sans-serif;
  color: black;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 5px;
}

.resume-link:hover {
  color: #1f1f1f;
  -ms-transform: skewX(-20deg);
  transform: skewX(-20deg);
  text-decoration: line-through; 
}

.resume-item {
  display: grid;
  width: 100%; 
}

.resume-content {
  
  
  
}

.resume-container {
  
}



.contact {
  text-decoration: none;
  color: #9f7e69;
}

/*
.contact-link {
  text-decoration: none;
  color: #9f7e69;
}

.contact-link:hover {
  color: black;
  text-decoration: line-through;
  position: relative;
  top: -5px;
  border: 2px solid #272727;
  border-radius: 50%;
  padding: 28px 50px 28px 50px;
}
*/

.contact-btn:hover {
  opacity: 0.5;
}

@keyframes marquee {
  0% {
    
    transform: translateX(1000px)
  }
  100% {
    transform: translateX(-400px)
  }
}

@keyframes text-animation {
from {
  opacity: 0;
  margin-left: 25%;
}
to {
  opacity: 1;
  margin-left: 0%;
}
}

@keyframes text-animation2 {
  from { 
    margin-right: 0%; 
    opacity: 0; }
  to { 
    opacity: 1; 
    margin-right: 100%; }
}

.hide-cover {
  opacity: 0;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@media screen and (max-width: 767px) {
  .header-menu {
    width: 30px;
    height: 1.5px;
    background-color: #15242e;
    margin-left: 80vw;
    margin-top: 10px;
    position: absolute;
    margin-right: 40px;
  }
}

@media screen and (max-width: 767px) {
  .header-menu-top {
    width: 20px;
    height: 1.5px;
    background-color: #15242e;
    margin-right: 40px;
    margin-left: 80vw;
    position: absolute;
    margin-bottom: 5px;
  }
}

.header-name{
  font-family: Branch;
  text-transform: lowercase;
  letter-spacing: 0;
  

}

.header-lastname {
  font-family: Bromawo;
  text-transform: lowercase;
  letter-spacing: 0;
  
  
  
  
 
  
  
}
